{% extends "layout.html" %}

{% block body %}

{% if user.is_authenticated %}
  <div class="w3-container">
    <h4><span>Bienvenido, <strong>{{user.username}} {{user.email}}</strong></span><br></h4>
  </div>
  <br>

  <div class="w3-container">
    <div class="alert alert-info" role="alert">
      <h5><b><i class="fa fa-info-circle "></i> 
        Reporte de sus informes de actividad laboral y horas pentientes por compensar; en el marco del estado de emergencia covid-19 </b>
      </h5>
    </div>
    
  </div>
  <br>

  
  <div class="w3-container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Informes de labor</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tiempo compensado</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Resumen</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="w3-container">
          <br>
          <h4>Informes de actvidad laboral y/o licencia</h4>
          <br>
          
          <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
            <thead>
              <tr>
                <th>Perodo</th>
                <th>Días laborables</th>
                <th>Días laborados</th>
                <th>Modalidad</th>
                <th>Documento de conformidad</th>
                <th>Días</th>
                <th>Horas</th>
                <th>Observación</th>
              </tr>
            </thead>
            <tbody>
            {% for actividad in actividades %}
              <tr>
                <td>{{actividad.id_periodo.descripcion }}</td>
                <td>{{actividad.id_periodo.dias_laborables}}</td>
                <td>{{actividad.dias_laborado}}</td>
                <td>{{actividad.modalidad}}</td>
                <td>{{actividad.documento}}</td>
                <td>{{ actividad.dias_laborables }}</td>
                <td>40</td>
                <td></td>
              </tr>
            {% endfor %}
              
           
      
            </tbody>
            
          </table><br>
        </div>
        <hr>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="w3-container">
          <br>
          <h4>Tiempo compensado</h4>
          <br>

          <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
            <thead>
              <tr>
                <th>Documento</th>
                <th>Tipo de compensación</th>
                <th>Tiempo compensado (Horas)</th>
                <th>Observación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Memorando Nro 001-2021-UNSCH-SG-SHSH-SHSH</td>
                <td>Capacitación</td>
                <td>15</td>
                <td>Presencial y remoto</td>
                <td></td>
              </tr>
            </tbody>
            
          </table><br>
        </div>
        <hr>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="w3-container ">
          <br>
          <h4>Resumen</h4>
          <br>
          <table class="w3-table w3-striped w3-light-green">
           
            <tbody>
              <tr>
                <td><i class="fa fa-clock-o w3-text-white w3-large"></i></td>
                <td>Total de horas pendientes por compensar.</td>
                <td><strong><i>10 </i> </strong>horas</td>
              </tr>
      
            </tbody>
      
      
          </table><br>
      
      </div>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-dark-grey w3-padding-16">
  </div>

{% else %}
  <div class="w3-container">
    <h4><span>ienvenido, por favor inicie sesion</span><br></h4>
  </div>
  <br>
  <p>Bienvenido, por favor inicie sesion</p>
{% endif %}




{% endblock %}
